@model IEnumerable<Invoices>

<fieldset class="incomedetail">

    <div class="table-responsive">
        <table id="dt_basic" class="table table-bordered has-tickbox">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-left">請款單號</th>
                    <th width="8%" class="text-center">請款日期</th>
                    <th width="6%" class="text-right">金額</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Invoices entity in Model)
                {
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="invoiceid" value="@entity.invoiceid" />
                            </label>
                        </td>
                        <td class="text-left">@entity.invoicecode</td>
                        <td class="text-center">@entity.requestdate.ToString("yyyy-MM-dd")</td>
                        <td class="text-right"><b>@entity.Invoicedetails.Sum(a => a.price)</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</fieldset>