<main id="main">
    <section class="allpadding clr section">
        <div id="all-policy" class="restrict">
            <div class="menu-wrapper">
                <div class="menu-container">
                    <div class="center">
                        <div class="pattern"><img src="~/content/images/section/paypattern.png"></div>
                        <h1 class="main">免責聲明</h1>
                        <ul>
                            <li><a href="#disclaimer-1">不可抗因素</a></li>
                            <li><a href="#disclaimer-2">版權</a></li>
                            <li><a href="#disclaimer-3">資訊</a></li>
                            <li><a href="#disclaimer-4">詐騙行為</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rights-wrapper">
                <div class="rights-container">
                    <div id="disclaimer-1" class="content-block">
                        <h2>不可抗因素</h2>
                        <div class="horizon-line"></div>
                        <p>本網站以正規技術來維護系統與服務運作，但於下述情形，本網站可停止提供服務，不需額外個別通知，對此所產生的損失，不負予賠償責任。針對可預期之網站維護，本網站會盡可能提前於網站上行使公告。</p>
                        <p>1. 天災或不可抗之外力因素造成服務無法使用。<br>2. 本網站使用之電信、網路系統服務被中止。<br>3. 本網站遭到外力破壞或駭客竄改、刪除等資訊錯誤，無法正常運行。<br>4. 本網站之軟硬體通訊設備必要維護與保養。<br>5. 突發性網路系統或電信故障。</p>
                    </div>
                    <div id="disclaimer-2" class="content-block">
                        <h2>版權</h2>
                        <div class="horizon-line"></div>
                        <p>本網站所有資料屬庭富國際有限公司專屬財產，未經授權使用資料均屬侵權行為。在未經本網站明確同意下，本網站資料之全部或部份均不可被使用、複印、銷售、傳送、修改、發表等任何用途。</p>
                    </div>
                    <div id="disclaimer-3" class="content-block">
                        <h2>資訊</h2>
                        <div class="horizon-line"></div>
                        <p>在任何情況下，庭富國際有限公司可以直接使用本網站，修改內容、產品、資訊或服務。</p>
                    </div>
                    <div id="disclaimer-4" class="content-block">
                        <h2>詐騙行為</h2>
                        <div class="horizon-line"></div>
                        <p>對於不當人事透過本網站發佈虛假、違法資訊、侵害他人權益及欺騙、詐欺行為者，純屬不當人事行為，本網站對因此而產生的一切糾紛不負任何責任。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>