<main id="main">
    <h1 class="heading">澳洲橄欖油檢驗報告</h1>
    <section class="allpadding clr tallsection">
        <div class="restrict-wide">
            <div class="centered">
                <h2>澳洲官方實驗室品質認證</h2>
            </div>
            <div class="direct-line"> </div>
            <div class="three-column clr page">
                <div class="blog-wrap news-blog-wrap">
                    <div class="article-single centered">
                        <div class="article-pic report-pic"><img src="~/content/images/section/evoo.jpg"></div>
                    </div>
                    <div class="article-title centered">EVOO品質測驗報告</div>
                </div>
                <div class="blog-wrap news-blog-wrap">
                    <div class="article-single centered">
                        <div class="article-pic report-pic"><img src="~/content/images/section/no-pesticides.jpg"></div>
                    </div>
                    <div class="article-title centered">無農藥殘留報告   </div>
                </div>
            </div>
            <div class="centered">
                <h2>SGS檢測報告</h2>
            </div>
            <div class="direct-line"> </div>
            <div class="three-column clr page">
                <div class="blog-wrap news-blog-wrap">
                    <div class="article-single centered">
                        <div class="article-pic report-pic"><img src="~/content/images/section/sgs.jpg"></div>
                    </div>
                    <div class="article-title centered">不飽和脂肪酸檢驗報告</div>
                </div>
                <div class="blog-wrap news-blog-wrap">
                    <div class="article-single centered">
                        <div class="article-pic report-pic"><img src="~/content/images/section/acid.jpg"></div>
                    </div>
                    <div class="article-title centered">酸度檢測</div>
                </div>
                <div class="blog-wrap news-blog-wrap">
                    <div class="article-single centered">
                        <div class="article-pic report-pic"><img src="~/content/images/section/non-toxic.jpg"></div>
                    </div>
                    <div class="article-title centered">La Barre 澳洲樂霸特級初榨橄欖油<br>不含重金屬檢測</div>
                </div>
                <div class="blog-wrap news-blog-wrap">
                    <div class="article-single centered">
                        <div class="article-pic report-pic"><img src="~/content/images/section/cottonseed.jpg"></div>
                    </div>
                    <div class="article-title centered">不含棉籽酚</div>
                </div>
                <div class="blog-wrap news-blog-wrap">
                    <div class="article-single centered">
                        <div class="article-pic report-pic"><img src="~/content/images/section/cooper.jpg"></div>
                    </div>
                    <div class="article-title centered">不含銅葉綠素</div>
                </div>
                <div class="blog-wrap news-blog-wrap">
                    <div class="article-single centered">
                        <div class="article-pic report-pic"><img src="~/content/images/section/mountzero-sgs.jpg"></div>
                    </div>
                    <div class="article-title centered">Mount Zero 澳洲粉紅湖天然鹽<br>不含重金屬檢測</div>
                </div>
            </div>
            <div class="centered">
                <h2>產險證書</h2>
            </div>
            <div class="direct-line"> </div>
            <div class="three-column clr page">
                <div class="blog-wrap news-blog-wrap">
                    <div class="article-single centered">
                        <div class="article-pic report-pic"><img src="~/content/images/section/insurance.jpg"></div>
                    </div>
                    <div class="article-title centered">五千萬產品責任險</div>
                </div>
            </div>
        </div>
    </section>
</main>