<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 web.config 轉換的詳細資訊，請造訪 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下面的範例中，"SetAttributes" 轉換只會在 "Match" 定位程式找到
    值為 "MyDB" 的屬性 "name" 時，才將 "connectionString" 的值變
    更為使用 "ReleaseSQLServer"。
    -->
    <connectionStrings>
      <add name="tfoodiesEntities" 
        connectionString="metadata=res://*/tfoodiesModel.csdl|res://*/tfoodiesModel.ssdl|res://*/tfoodiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=weypro.database.windows.net;initial catalog=tfoodies;user id=wadmin;password=!QW@@WE#3er4;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

    <appSettings>
      <add key="MerchantID" value="315223939" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="HashKey" value="bYVauK8yvvkTBzGtu4i7NPaMfhqC0o9b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="HashIV" value="n4mRPupl0KeCjV5O" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="InvCreateUrl" value="https://inv.ezpay.com.tw/API/invoice_issue" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="InvCancelUrl" value="https://inv.ezpay.com.tw/API/invoice_invalid" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
  
    <system.web>
      <trust level="Full" xdt:Transform="Insert" />
      <compilation xdt:Transform="RemoveAttributes(debug)" />
      <!--
      
        在下面的範例中，"Replace" 轉換將會取代 web.config 檔案
        的整個 <customErrors> 區段。
        請注意，因為在 <system.web> 節點之下 
        只有一個 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
        <customErrors defaultRedirect="GenericError.htm"
          mode="RemoteOnly" xdt:Transform="Replace">
          <error statusCode="500" redirect="InternalError.htm"/>
        </customErrors>
      -->
    </system.web>
</configuration>