
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>團購單 - 食在乎 TFoodies - 官方網站</title>
    <meta name="KeyWords" content="冷壓初榨橄欖油">
    <meta name="Description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/content/images/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=GFS+Didot|Noto+Sans">
    <link rel="stylesheet" href="~/content/styles/main.css">
</head>
<body>
    <div id="wrapper">
        <main id="main">
            <section class="clr allsection step-section">
                <div class="restrict centered">
                    <div class="step-wrap">
                        <div class="shopstep">
                            <div class="step-circle">
                                <div class="step-inner">
                                    <h3>1</h3>
                                    <p class="white">商品資訊</p>
                                </div>
                            </div>
                        </div>
                        <div class="shopstep">
                            <div class="step-line stp2"></div>
                        </div>
                        <div class="shopstep">
                            <div class="step-circle stp2">
                                <div class="step-inner">
                                    <h3>2</h3>
                                    <p class="white">訂購資訊</p>
                                </div>
                            </div>
                        </div>
                        <div class="shopstep">
                            <div class="step-line stp0"></div>
                        </div>
                        <div class="shopstep">
                            <div class="step-circle stp0">
                                <div class="step-inner">
                                    <h3>3</h3>
                                    <p class="white">完成訂購</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="clr allsection">
                <div class="restrict-tiny centered hidden">
                    <h1 class="main">STEP 2</h1>
                </div>
                <div class="restrict-tiny allpadding centered shopflow">
                    <form>
                        <div class="formstyle">
                            <h3>訂購人資訊</h3>
                            <div class="information">
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status">
                                            <label for="name"><span class="must">*</span>姓名</label>
                                        </div>
                                        <div class="vertify">
                                            <input type="text" class="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status">
                                            <label for="name"><span class="must">*</span>手機號碼</label>
                                        </div>
                                        <div class="vertify">
                                            <input type="text" class="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status">
                                            <label for="name"><span class="must">* </span>電子郵件</label>
                                        </div>
                                        <div class="vertify">
                                            <input type="text" class="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status">
                                            <label for="name"><span class="must">*</span>聯絡地址</label>
                                        </div>
                                        <div class="vertify">
                                            <div class="select-style address city">
                                                <select>
                                                    <option>縣市</option>
                                                    <option>台北</option>
                                                    <option>台中</option>
                                                </select>
                                            </div>
                                            <div class="select-style address">
                                                <select class="error">
                                                    <option>區域</option>
                                                    <option>北區</option>
                                                    <option>東區</option>
                                                </select>
                                            </div>
                                            <input type="text" class="input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formstyle">
                            <h3><span class="must">*</span>發票資訊</h3>
                            <div class="information">
                                <div class="tablescroll">
                                    <table class="bordernone">
                                        <tr class="accordion-item">
                                            <td class="checked">
                                                <input type="radio" name="tabs" checked="checked" class="input">
                                            </td>
                                            <td class="left">
                                                <label for="name">電子發票</label>
                                            </td>
                                        </tr>
                                        <tr class="accordion-item">
                                            <td class="checked">
                                                <input id="check-donate" type="radio" name="tabs" class="input">
                                            </td>
                                            <td class="left">
                                                <label for="name">捐贈發票</label>
                                                <div class="content"><span class="descript">捐贈單位： 財團法人創世社會福利基金會</span></div>
                                            </td>
                                        </tr>
                                        <tr class="accordion-item">
                                            <td class="checked">
                                                <input id="check-receipt" type="radio" name="tabs" class="input">
                                            </td>
                                            <td class="left">
                                                <label for="name">公司戶索取電子發票證明聯</label>
                                                <div class="content descript">
                                                    <div class="controls">
                                                        <div class="status">
                                                            <label for="name">統一編號：</label>
                                                        </div>
                                                        <div class="vertify">
                                                            <input type="text" class="input">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="checkpolicy">
                            <div class="controlgroup">
                                <div class="credit-captcha">
                                    <label for="captcha"></label>
                                    <input type="text" name="captcha" placeholder="驗證碼" class="input captcha">
                                    <div class="captcha"><img src="images/section/captcha.png"></div>
                                    <div class="inline"></div>
                                    <div class="refresh"></div><a href="#" class="descript inline">換一組驗證碼</a>
                                </div>
                            </div>
                        </div>
                        <div class="choose-wrap">
                            <div class="choose-left"><a href="group-shopping.html" class="btn outline-btn">回上一步</a></div>
                            <div class="choose-right"><a href="group-shopping-paid.html" class="btn basic">立即結帳</a></div>
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <div id="copyright" class="in-group-buy">
            <div class="restrict-wide">
                <div class="copyright-wrapper">
                    <div class="pull-left">
                        <div class="left">
                            <div class="small copyright">© 2016 COPYRIGHTS BY TFOODIES INT CO., LTD. ALL RIGHTS RESERVED.</div>
                            <div class="small copyright inline">Designed by  <a href="http://www.weypro.com.tw" target="_blank" class="inline copyright main">WeyPro Tech.</a></div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="right">
                            <ul class="copyright small">
                                <li> <a href="@Url.Action("Contact", "PageMs")">聯絡TFoodies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/scripts/vendor.js"></script>
    <script src="~/scripts/plugins.js"></script>
    <script src="~/scripts/jquery-confirm.min.js"></script>
    <script src="~/scripts/main.js"></script>
    <script>
        $(function () {

        });
    </script>
</body>
</html>
